<robot name="mustard_bottle_flipped">
    <link name="base_link">
        <visual>
            <origin xyz="-0.014324160907744188 -0.07504229718762659 0.023347281696173804" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="mustard_bottle_flipped/textured.obj" scale="1 1 1" />
            </geometry>
            <material name="texture">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="-0.014324160907744188 -0.07504229718762659 0.023347281696173804" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="mustard_bottle_flipped/textured_vhacd.stl" scale="1 1 1" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0" />
            <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3" />
        </inertial>
    </link>
</robot>